<div>
	<p style="background-color:#989898; font-weight:bold;">TOPIC 0:</p>
	<ul>
		<li> Unknow topic</li>
	</ul>
	<p style="background-color:#000000; font-weight:bold;">TOPIC 1:</p>
	<ul>
		<li>propose</li>
		<li>network</li>
		<li>value</li>
		<li>performance</li>
		<li>application</li>
		<li>feature</li>
		<li>obtain</li>
		<li>parameter</li>
		<li>set</li>
		<li>compound</li>
	</ul>
	<p style="background-color:#FF0000; font-weight:bold;">TOPIC 2:</p>
	<ul>
		<li>global</li>
		<li>article</li>
		<li>recent</li>
		<li>emerge</li>
		<li>life</li>
		<li>discuss</li>
		<li>condition</li>
		<li>concern</li>
		<li>regard</li>
		<li>possible</li>
	</ul>
	<p style="background-color:#800000; font-weight:bold;">TOPIC 3:</p>
	<ul>
		<li>trial</li>
		<li>mask</li>
		<li>decision</li>
		<li>woman</li>
		<li>testing</li>
		<li>asymptomatic</li>
		<li>face</li>
		<li>screening</li>
		<li>imaging</li>
		<li>screen</li>
	</ul>
	<p style="background-color:#FF00FF; font-weight:bold;">TOPIC 4:</p>
	<ul>
		<li>structure</li>
		<li>form</li>
		<li>function</li>
		<li>complex</li>
		<li>full</li>
		<li>small</li>
		<li>reveal</li>
		<li>single</li>
		<li>contain</li>
		<li>replication</li>
	</ul>
	<p style="background-color:#808000; font-weight:bold;">TOPIC 5:</p>
	<ul>
		<li>drug</li>
		<li>gene</li>
		<li>host</li>
		<li>bind</li>
		<li>receptor</li>
		<li>antiviral</li>
		<li>molecular</li>
		<li>expression</li>
		<li>tissue</li>
		<li>inhibitor</li>
	</ul>
	<p style="background-color:#3BC1A7; font-weight:bold;">TOPIC 6:</p>
	<ul>
		<li>epidemic</li>
		<li>people</li>
		<li>period</li>
		<li>term</li>
		<li>long</li>
		<li>service</li>
		<li>policy</li>
		<li>management</li>
		<li>healthcare</li>
		<li>state</li>
	</ul>
	<p style="background-color:#008000; font-weight:bold;">TOPIC 7:</p>
	<ul>
		<li>detect</li>
		<li>detection</li>
		<li>assay</li>
		<li>negative</li>
		<li>diagnostic</li>
		<li>blood</li>
		<li>reaction</li>
		<li>concentration</li>
		<li>chain</li>
		<li>temperature</li>
	</ul>
	<p style="background-color:#9f42c4; font-weight:bold;">TOPIC 8:</p>
	<ul>
		<li>vaccine</li>
		<li>antibody</li>
		<li>vaccination</li>
		<li>spike</li>
		<li>antigen</li>
		<li>variant</li>
		<li>epitope</li>
		<li>anti</li>
		<li>immune</li>
		<li>immunity</li>
	</ul>
	<p style="background-color:#FA8072; font-weight:bold;">TOPIC 9:</p>
	<ul>
		<li>mortality</li>
		<li>symptom</li>
		<li>hospital</li>
		<li>child</li>
		<li>death</li>
		<li>old</li>
		<li>pneumonia</li>
		<li>week</li>
		<li>score</li>
		<li>ci</li>
	</ul>
	<p style="background-color:#0000FF; font-weight:bold;">TOPIC 10:</p>
	<ul>
		<li>student</li>
		<li>learning</li>
		<li>address</li>
		<li>program</li>
		<li>training</li>
		<li>medical</li>
		<li>school</li>
		<li>situation</li>
		<li>learn</li>
		<li>energy</li>
	</ul>
	<p style="background-color:#000080; font-weight:bold;">TOPIC 11:</p>
	<ul>
		<li>intervention</li>
		<li>community</li>
		<li>technology</li>
		<li>quality</li>
		<li>social</li>
		<li>cost</li>
		<li>practice</li>
		<li>author</li>
		<li>context</li>
		<li>home</li>
	</ul>
	<p style="background-color:#FFFF00; font-weight:bold;">TOPIC 12:</p>
	<ul>
		<li>lung</li>
		<li>immune</li>
		<li>induce</li>
		<li>cancer</li>
		<li>mouse</li>
		<li>inflammatory</li>
		<li>cytokine</li>
		<li>activation</li>
		<li>expression</li>
		<li>maintain</li>
	</ul>
	<p style="background-color:#800080; font-weight:bold;">TOPIC 13:</p>
	<ul>
		<li>transmission</li>
		<li>sequence</li>
		<li>region</li>
		<li>infectious</li>
		<li>influenza</li>
		<li>pathogen</li>
		<li>genome</li>
		<li>dynamic</li>
		<li>contact</li>
		<li>strain</li>
	</ul>
	<p style="background-color:#454545; font-weight:bold;">TOPIC 14:</p>
	<ul>
		<li>participant</li>
		<li>social</li>
		<li>survey</li>
		<li>self</li>
		<li>experience</li>
		<li>mental</li>
		<li>short</li>
		<li>worker</li>
		<li>anxiety</li>
		<li>behavior</li>
	</ul>
	<p style="background-color:#FFA500; font-weight:bold;">TOPIC 15:</p>
	<ul>
		<li>lockdown</li>
		<li>die</li>
		<li>air</li>
		<li>male</li>
		<li>city</li>
		<li>place</li>
		<li>restriction</li>
		<li>und</li>
		<li>meet</li>
		<li>visit</li>
	</ul>
</div>